.containpos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 925px;
    height: 160px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 25px;
    margin-left: 30px;
    
    &:hover{
        text-decoration: none;
        border: 1px solid   #ffffff;
         box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
         border-top-left-radius: 10px;
         border-bottom-left-radius: 10px;
         animation-name: example;
         animation-duration: 0.25s;
         box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
         
    }
    .date{
        width: 78px;
        height: 28px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.03;
        letter-spacing: normal;
        color: #5b5b5b;
        padding-left: 20px;
        text-decoration: none;
    }

    .title{
        width: 837px;
        height: 28px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.03;
        letter-spacing: normal;
        color: #5b5b5b;
        padding-left: 20px;
        text-decoration: none;
    }

    .equi{
        width: 169px;
        height: 28px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.03;
        letter-spacing: normal;
        color: #5b5b5b;
        padding-left: 20px;
        text-decoration: none;
    }
}



//////////////////////////
//////////Postid/////////

.Postid{
    border: red solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
   

    .Postidall{
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        .postleft{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .postright{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}