/////acceso tanto user como club
.login{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color:black;
    margin: 0;


.izq{
    width: 40vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url("https://res.cloudinary.com/dwwfzwx93/image/upload/v1583766642/img-access_x2_knmwho.png");

    .loco{
        width: 395px;
        height: 148px;
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: #ffffff;
    }

    .encuentra{
        width: 348px;
        height: 129px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.68;
        letter-spacing: normal;
        color: #ffffff;
    }
}
.der{
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    


.user{
    
        width: 671px;
        height: 570px;
        border-radius: 24px;
        box-shadow: 4px 4px 20px 0 #e7e7e7;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;

 
}
}
}



//////
//////pantalla usuario



.homeuser{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f8f8f8;
    // width: 100vw;
    // width: 1440px;
    // height: 900px;
    text-decoration: none;

    
    
    .per{
        display: flex;
     
        flex-direction: column;
        align-items: center;
        .perall{
            position: fixed;
            top: 103px;
            left: 87px;
            display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        
      
        .np{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 150px;
            height: 56px;
            border-radius: 100px;
            background-image: linear-gradient(to top, #aad239, #2ca10f);
            margin-top: 50px;
            h1{
                width: 107.5px;
                height: 28px;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.03;
                letter-spacing: normal;
                color: #ffffff;
            }
          }

        
   
    .perfil{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 240px;
        height: 395px;
        border-radius: 8px;
        box-shadow: 4px 4px 10px 0 rgba(231, 231, 231, 0.3);
        background-color: #ffffff;
        color: #5b5b5b;
        text-decoration: none;
        img{
            width: 95px;
            height: 95px;
          
        }
            //   position: fixed;
          
            }
    }
    }
    }
    .po{
        margin-top: 150px;
        .sup{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            top:60px;
            width: 100%;
            height: 260px;
            position: fixed;
            background-color: #f8f8f8;
            padding-left: 20px;
            .bus{
                display: flex;
                // justify-content: ;
                align-items: center;
                flex-direction: row;
                
            .depo{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 120px;
                height: 120px;
                border-radius: 8px;
                box-shadow: 4px 4px 20px 0 rgba(231, 231, 231, 0.3);
                background-color: #ffffff;
                margin-right: 50px;
                margin-left: 50px;

                &:hover{
                    text-decoration: none;
                    border: 1px solid   #ffffff;
                     box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
                     border-top-left-radius: 10px;
                     border-bottom-left-radius: 10px;
                     animation-name: example;
                     animation-duration: 0.25s;
                     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }
            }
        }
        .pob{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            // 
            // top:60px;
            // width: 100%;
            // height: 120px;
            background-color: #f8f8f8;

         
           button{
            background-color: #f8f8f8;
                margin-right: 20px;
                width: 121px;
                height: 28px;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.03;
                letter-spacing: normal;
                color: #5b5b5b;
                border:none;
               &:hover{
                    background-image: linear-gradient(to top, #d2ca39, #2ca10f);
                                
                }
            }
        }
    }
    .componentes{
        margin-top: 250px;
    }
   
}





.userID{
    display: flex;

    .userI{
        display: flex;
        margin-top: 100px;
        width: 100%;

    .useridleft{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 40%;
        height: 500px;
        border-radius: 8px;
        box-shadow: 4px 4px 10px 0 rgba(231, 231, 231, 0.3);
        background-color: #ffffff;



        .leftimg{
            width: 150px;
            height: 150px;

        }
    }

    .useridright{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        .grid-container{
            margin-top: 100px;
            margin-left: 20px;
            width: 540px;
            height: 345px;
            background-image: url("https://res.cloudinary.com/dwwfzwx93/image/upload/v1584035261/campo_kunmii.jpg");
            justify-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: 155px 135px 135px 135px;
            grid-template-rows: 115px 115px;

            .camiseta{
                width: 70px;
                height:70px;
            }
        }
        .toca{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 150px;
            height: 56px;
            border-radius: 100px;
            background-image: linear-gradient(to top, #aad239, #2ca10f);
            margin-top: 50px;
        }
    }
}
}

  


.navbar{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;

    h1{
        width: 91px;
        height: 28px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.03;
        letter-spacing: normal;
        color: #5b5b5b;
    }
}
