.containmatch{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    margin-left: 30px;
    width: 925px;
    height: 150px;
    border-radius: 8px;
    background-color: #ffffff;
    
    &:hover{
        text-decoration: none;
        border: 1px solid   #ffffff;
         box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
         border-top-left-radius: 10px;
         border-bottom-left-radius: 10px;
         animation-name: example;
         animation-duration: 0.25s;
         box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .conleft{
        height: 100%;
        width: 25%;
        justify-content: center;
        align-items: center;
        display: flex;
    flex-direction: column;
    text-align: center;
        .dat{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
            // height: 2px;
            font-family: Montserrat;
            font-size: 18px;
            // font-weight: 600;
            // font-stretch: normal;
            // font-style: normal;
            // line-height: 2.03;
            // letter-spacing: normal;
            color: #5b5b5b;
        }
        .price{
            width: 43px;
            height: 28px;
            font-family: Montserrat;
            font-size: 22px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.03;
            letter-spacing: normal;
            color: #5b5b5b;
        }
    }
    
    .concenter{
        height: 100%;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        display: flex;
    flex-direction: column;
    color: #5b5b5b;
        .title{
            width: 330px;
            height: 28px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.03;
            letter-spacing: normal;
            color: #5b5b5b;
        }
    }


    .conright{
        height: 100%;
        width: 25%;
        justify-content: space-around;
        align-items: center;
        display: flex;
    flex-direction: column;
    text-align: center;
    }
    
    .futbol{

        width: 112px;
        height: 28px;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.03;
        letter-spacing: normal;
        color: #5b5b5b;
 
        
    }
    .type{
        width: 112px;
        height: 28px;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.03;
        letter-spacing: normal;
        color: #5b5b5b;
    }
}





///////////////////////////////
////////////newmatch///////////@extend


.newma{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    


    .newmaleft{
        margin-top: 100px;
        margin-left: 100px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60%;
        width: 613px;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 600;
        // font-stretch: normal;
        // font-style: normal;
        // line-height: 2.03;
        // letter-spacing: normal;
        color: #5b5b5b;

        
    }
    .newmaright{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .newaba{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            .textito{
                width: 334px;
                height: 134px;
                border-radius: 8px;
                border: solid 1px #dedede;
                background-color: #ffffff;
                margin-bottom: 20px;
            }

            .bosub{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 150px;
                height: 56px;
                border-radius: 100px;
                background-image: linear-gradient(to top, #aad239, #2ca10f);
                margin-top: 50px;
                font-family: Montserrat;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 2.03;
                letter-spacing: normal;
                color: #ffffff;
                border: none;
            }
        
        }


        .newmacthname{
            width: 534px;
            height: 54px;
            border-radius: 8px;
            border: solid 1px #dedede;
            background-color: #ffffff;
            margin-bottom: 20px;
           
        }
        .horafecha{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .time{
                    width: 100px;
                    height: 54px;
                    border-radius: 8px;
                    border: solid 1px #dedede;
                    background-color: #ffffff;
                    margin-bottom: 20px;
            }
    
            .datanew{
                width: 300px;
                height: 54px;
                border-radius: 8px;
                border: solid 1px #dedede;
                background-color: #ffffff;
                margin-bottom: 20px;
            }
        }
        .dinero{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .datanew{
                width: 100px;
                height: 54px;
                border-radius: 8px;
                border: solid 1px #dedede;
                background-color: #ffffff;
                margin-bottom: 20px;
            }

            .select{
                width: 400px;
                height: 54px;
                border-radius: 8px;
                border: solid 1px #dedede;
                background-color: #ffffff;
                margin-bottom: 20px;
            }
        }

        .precabe{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 54px;
            border-radius: 8px;
            border: solid 1px #dedede;
            background-color: #ffffff;
            margin-bottom: 20px;
        }
        
            
    }
}



///////////////////////
////////matchID
.paco{
display: flex;
    
    
.macht{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;

    .mactleft{
        width: 60%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding:30px;
        margin-top: 100px;
      

        .maclefname{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 613px;
            font-family: Montserrat;
            font-size: 26px;
            font-weight: 600;
            // font-stretch: normal;
            // font-style: normal;
            // line-height: 2.03;
            // letter-spacing: normal;
            color: #5b5b5b;
        }

        .maclefdes{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50%;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
            // font-stretch: normal;
            // font-style: normal;
            // line-height: 2.03;
            // letter-spacing: normal;
            color: #5b5b5b;
        }
        .leftleft{

            .macleftime{
                width: 40%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
            }
        }

        .maclefbos{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 150px;
            height: 56px;
            border-radius: 100px;
            background-image: linear-gradient(to top, #aad239, #2ca10f);
            margin-top: 50px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.03;
            letter-spacing: normal;
            color: #ffffff;
            border: none;
        }



    }
    
    .mactright{
        margin-top: 100px;
        width: 100%;
     justify-content: center;
     align-items: center;
        display: flex;
    flex-direction: row;



        .macthuser{
            width: 70%;
            display: flex;
       
        flex-direction: column;
        

        .team{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
        }

        .userma{
            flex-wrap: wrap;
            display: flex;
            width: 100%;
            justify-content: space-around;
        }

        }
    }


}
}
